@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.5rem;
  line-height: 2rem;
}

main {
  padding: 3rem 2.5rem;
  margin-top: 7.7rem;
  min-height: calc(100vh - 7.7rem);
}
@media screen and (min-width: 1024px) {
  main {
    padding: 4rem 6rem 5rem;
  }
}
@media screen and (min-width: 1440px) {
  main {
    margin-top: 0;
    min-height: 100vh;
    margin-left: 30rem;
    padding: 6rem;
    max-width: calc(100vw - 30rem);
  }
}

h1, .h1 {
  font-size: 2.6rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  h1, .h1 {
    font-size: 3.1rem;
  }
}

h2, .h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  h2, .h2 {
    font-size: 2.1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h3, .h3 {
    font-size: 1.8rem;
  }
}

ul {
  list-style: none;
}

object {
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.highlight {
  font-size: 1.4rem;
  font-weight: bold;
  color: #663366;
}
@media screen and (min-width: 1024px) {
  .highlight {
    font-size: 1.5rem;
  }
}

.color-primary {
  color: #663366;
}
.color-red {
  color: #e55f5f;
}
.color-green {
  color: #5fe575;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem - 7.7rem);
}
@media screen and (min-width: 1024px) {
  .container {
    min-height: calc(100vh - 9rem - 7.7rem);
  }
}
@media screen and (min-width: 1440px) {
  .container {
    min-height: calc(100vh - 12rem);
  }
}

.box {
  width: 100%;
  padding: 2rem;
  display: block;
  border-radius: 0.3rem;
  background-color: #f2f2f2;
}
.box--outer h2, .box--outer .h2, .box--solid h2, .box--solid .h2 {
  font-weight: bold;
}
.box--outer {
  background-color: transparent;
  border: solid 0.3rem #663366;
}
.box--outer h2, .box--outer .h2 {
  text-align: center;
  color: #663366;
}
@media screen and (min-width: 1024px) {
  .box--outer h2, .box--outer .h2 {
    text-align: left;
    margin-bottom: 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .box--outer {
    padding: 3rem;
  }
}
.box--solid {
  color: #ffffff;
  background-color: #663366;
}
@media screen and (min-width: 1024px) {
  .box {
    padding: 2.5rem;
  }
}

.grid {
  flex: 1;
  gap: 3rem 0;
  width: 100%;
  display: grid;
  overflow: hidden;
  align-items: stretch;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(4, 1fr);
}
.grid--12 {
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(12, 1fr);
}
.grid > * {
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .grid {
    gap: 3rem 3rem;
  }
}

form textarea {
  resize: vertical;
  min-height: 14rem;
}
form input, form select, form textarea {
  width: 100%;
  border: none;
  padding: 2rem;
  font-size: 1.6rem;
  font: "Lato", sans-serif;
  border-radius: 0.3rem;
  background-color: #ffffff;
}
form input:focus, form select:focus, form textarea:focus {
  outline: none;
}

.btn {
  width: auto;
  border: none;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 1.25rem 1.75rem;
  border-radius: 0.3rem;
  background-color: #663366;
}
.btn--grey {
  background-color: #989898;
}
.btn:focus {
  outline: none;
}

.sub-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.sub-navigation__item {
  display: flex;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  width: calc(50% - 0.75rem);
  transition: background-color 0.3s ease-out;
}
.sub-navigation__item--active {
  background-color: #663366;
}
.sub-navigation__item--active .highlight {
  color: #ffffff;
}
.sub-navigation__item .highlight {
  font-size: 1.6rem;
  text-align: center;
  transition: color 0.3s ease-out;
}
.sub-navigation__item:hover {
  background-color: #989898;
}
.sub-navigation__item:hover .highlight {
  color: #ffffff;
}
.sub-navigation__item:nth-child(2n+1) {
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .sub-navigation__item {
    margin-right: 2.5rem !important;
    width: calc(33.3333333333% - 1.6666666667rem);
  }
  .sub-navigation__item:nth-child(3n+0) {
    margin-right: 0 !important;
  }
}
@media screen and (min-width: 1024px) {
  .sub-navigation__item {
    margin-bottom: 0 !important;
    width: calc(16.6666666667% - 2.0833333333rem);
  }
  .sub-navigation__item:not(:last-child) {
    margin-right: 2.5rem !important;
  }
}
@media screen and (min-width: 1024px) {
  .sub-navigation {
    margin-bottom: 4rem;
  }
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  position: fixed;
  padding: 1.75rem 0;
  box-shadow: 0 0 0.5rem 0.2rem rgba(88, 88, 88, 0.5);
  background-color: #663366;
}
.header__inner {
  display: flex;
  padding: 0 2.5rem;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 100%;
  max-width: 7rem;
}
.header__hamburger-button {
  width: 3.75rem;
  height: 2.6rem;
  display: block;
  position: relative;
}
.header__hamburger-button::before, .header__hamburger-button::after {
  content: "";
}
.header__hamburger-button::before, .header__hamburger-button::after, .header__hamburger-button .header__hamburger-layer {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  border-radius: 0.3rem;
  background-color: #ffffff;
}
.header__hamburger-button::before {
  top: 50%;
  transform: translateY(-50%);
}
.header__hamburger-button::after {
  bottom: 0;
  top: initial;
}
@media screen and (min-width: 1440px) {
  .header {
    display: none;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  padding: 2.5rem;
  color: #ffffff;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-100%);
  background-color: #663366;
  transition: transform 0.3s ease-out;
}
.navigation.active {
  transform: translateX(0%);
}
.navigation svg {
  width: 3.1rem;
  height: 3.1rem;
  fill: #ffffff;
  margin-right: 1.75rem;
}
.navigation__logo {
  width: 100%;
  max-width: 13rem;
  margin-bottom: 3.5rem;
}
.navigation__list-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1440px) {
  .navigation__list-item:not(:last-child) {
    margin-bottom: 2.75rem;
  }
}
.navigation__link {
  display: flex;
  align-items: center;
}
.navigation__link span {
  font-size: 1.8rem;
}
.navigation__close {
  top: 2.5rem;
  z-index: 12;
  right: 2.5rem;
  position: absolute;
}
.navigation__close svg {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0;
}
@media screen and (min-width: 1440px) {
  .navigation {
    width: 30rem;
    transition: none;
    padding: 3.5rem 4.5rem;
    transform: translateX(0%);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .navigation__logo {
    margin: 0 auto 5.5rem;
  }
  .navigation__list {
    margin-bottom: auto;
  }
  .navigation__close {
    display: none;
  }
}

.deadlines {
  order: 4;
}
.deadlines__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .deadlines__item {
    width: calc(25% - 2.25rem);
  }
  .deadlines__item:not(:last-child) {
    margin-right: 3rem;
    margin-bottom: 0rem;
  }
}
.deadlines__title {
  margin-bottom: 0.6rem;
}
.deadlines__submit-time {
  margin-top: 1.6rem;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .deadlines__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .deadlines__submit-time {
    margin-top: 2rem;
  }
}

.time-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.time-table__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .time-table__wrapper {
    justify-content: space-between;
  }
}
.time-table__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.time-table__item:not(:first-child) {
  margin-top: 2.25rem;
}
@media screen and (min-width: 1024px) {
  .time-table__item {
    display: block;
    width: calc(50% - 1.5rem);
  }
  .time-table__item:not(:first-child) {
    margin-top: 0rem;
  }
  .time-table__item:nth-child(1n+3) {
    margin-top: 2.5rem;
  }
}
.time-table__date {
  margin-top: 0.5rem;
  display: inline-block;
}
.time-table__info {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  padding-bottom: 0.75rem;
}
.time-table__attendence {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  background-color: #e55f5f;
}
.time-table__attendence--green {
  background-color: #5fe575;
}
.time-table__time, .time-table__place {
  display: flex;
  flex-direction: column;
}
.time-table__time {
  margin-right: 2.5rem;
}
.time-table__small {
  font-size: 1.3rem;
  margin-top: 0.4rem;
}
.time-table__place {
  font-size: 1.3rem;
  color: #585858;
}
.time-table__place-wrapper {
  display: flex;
  margin-top: 0.6rem;
  align-items: center;
}
.time-table__place-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #585858;
  margin-right: 0.35rem;
  margin-left: -0.2rem;
}
@media screen and (min-width: 1024px) {
  .time-table {
    display: block;
  }
}

.messagebox {
  display: flex;
  max-height: 52.3rem;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .messagebox {
    max-height: 54.5rem;
  }
}
.messagebox__scroll-wrapper {
  flex: 1;
  overflow: auto;
}
.messagebox__item .h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.messagebox__date {
  display: block;
  margin-top: 1.2rem;
}
.messagebox__divider {
  margin: 2rem 2.5rem 2rem 0;
  border-top: none !important;
  border: solid 0.05rem #989898;
}
.messagebox__show-more {
  margin: 2.5rem 0;
}

.absence {
  max-width: 100%;
}
.absence__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.absence__stats {
  font-size: 1.6rem;
  margin-right: 2.5rem;
}
.absence__stats span {
  display: block;
}
.absence__stats span:not(:first-child) {
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .absence__stats {
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .absence__stats {
    margin-right: 2.5rem;
  }
}
.absence__graph {
  flex: 1;
  max-width: 9rem;
  position: relative;
  display: inline-block;
}
.absence__graph-circle, .absence__graph-part {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  border-width: 1rem;
  border-style: solid;
}
.absence__graph-circle {
  z-index: 1;
}
.absence__graph-part {
  top: -1rem;
  left: -1rem;
  z-index: 2;
  -webkit-animation: rotateGraph 4s forwards;
          animation: rotateGraph 4s forwards;
  transform-origin: center;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  border-color: #5fe575;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
@media screen and (min-width: 768px) {
  .absence__graph {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .absence__graph {
    display: inline-block;
  }
}

@-webkit-keyframes rotateGraph {
  0% {
    opacity: 0;
    transform: rotate(-200deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(305deg);
  }
}

@keyframes rotateGraph {
  0% {
    opacity: 0;
    transform: rotate(-200deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(305deg);
  }
}
.links__link {
  display: block;
  font-size: 1.4rem;
}
.links__link:not(:last-child) {
  margin-bottom: 0.75rem;
}

.modules {
  display: flex;
  flex-direction: column;
}
.modules__scroll-box {
  flex: 1;
  overflow: auto;
}
.modules__module {
  overflow: hidden;
  color: #585858;
  border-radius: 0.3rem;
  border: solid 0.2rem #989898;
}
.modules__module:not(:last-child) {
  margin-bottom: 3rem;
}
.modules__category, .modules__item {
  padding: 2rem;
  font-weight: bold;
}
.modules__category {
  background-color: #f2f2f2;
  border-bottom: solid 0.2rem #989898;
}
.modules__item {
  display: flex;
  align-items: center;
  color: #989898;
}
.modules__item svg {
  fill: #989898;
}
.modules__item span {
  margin-left: 2rem;
}
.modules__item:not(:last-child) {
  border-bottom: solid 0.1rem #f2f2f2;
}

.feedpulse__account-photo {
  width: 10rem;
  margin-right: 5rem;
  border-radius: 50%;
}
.feedpulse__actions .btn {
  display: inline-block;
}
.feedpulse__actions .btn:not(:last-child) {
  margin-right: 2rem;
}
.feedpulse__textarea {
  margin-top: 2rem;
}
.feedpulse__feedback {
  display: flex;
  align-items: center;
}
.feedpulse__stats {
  flex: 1;
}

.page-dashboard .time-table {
  order: 1;
}
@media screen and (min-width: 1024px) {
  .page-dashboard .time-table {
    order: 2;
    grid-column: span 2;
  }
}
.page-dashboard .absence-links-wrapper {
  order: 2;
  display: flex;
  flex-direction: column;
}
.page-dashboard .absence-links-wrapper .links {
  height: 100%;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .page-dashboard .absence-links-wrapper {
    order: 4;
    grid-column: span 1;
  }
}
.page-dashboard .messagebox {
  order: 3;
}
@media screen and (min-width: 768px) {
  .page-dashboard .messagebox {
    order: 4;
  }
}
@media screen and (min-width: 1024px) {
  .page-dashboard .messagebox {
    grid-column: span 1;
  }
}
.page-dashboard .deadlines {
  order: 4;
}
@media screen and (min-width: 768px) {
  .page-dashboard .deadlines {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1024px) {
  .page-dashboard .deadlines {
    order: 1;
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 1024px) {
  .page-lesmateriaal .messagebox {
    order: 1;
    grid-column: span 4;
  }
}
@media screen and (min-width: 1024px) {
  .page-lesmateriaal .feedpulse {
    order: 2;
    grid-column: span 8;
  }
}
@media screen and (min-width: 1024px) {
  .page-lesmateriaal .modules {
    order: 3;
  }
}

.contact__item {
  width: 25%;
  display: flex;
}
.contact__item:not(:last-child) {
  margin-right: 30px;
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}
.contact__photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 3rem;
}
.contact__linkcolor {
  color: #663366;
}
.contact__linespace {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contact__titel {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contact__subject {
  font-weight: bold;
  font-size: 2.5rem;
}
