.feedpulse

    &__account
        margin-bottom: 3rem

    &__account-photo
        width: 10rem
        margin: 0 3rem
        border-radius: 50%

    &__actions
        .btn
            display: inline-block

            &:not(:last-child)
                margin-right: 2rem

    &__textarea
        margin-top: 2rem