.feedpulse

    // &__account
    //     margin-bottom: 3rem

    &__account-photo
        width: 10rem
        margin-right: 5rem
        border-radius: 50%

    &__actions
        .btn
            display: inline-block

            &:not(:last-child)
                margin-right: 2rem

    &__textarea
        margin-top: 2rem

    &__feedback
        display: flex
        align-items: center
        margin-bottom: 3rem

    &__stats
        flex: 1