<div class="search-bar box">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20">
  <path id="Icon_awesome-search" data-name="Icon awesome-search" d="M19.728,17.291,15.833,13.4a.937.937,0,0,0-.664-.273h-.637a8.122,8.122,0,1,0-1.406,1.406v.637a.937.937,0,0,0,.273.664l3.895,3.894a.934.934,0,0,0,1.324,0l1.106-1.105a.942.942,0,0,0,0-1.328Zm-11.6-4.168a5,5,0,1,1,5-5A5,5,0,0,1,8.126,13.124Z" transform="translate(0 0)" fill="#989898"/>
    </svg>


</div>

<hr>
<H2 class="contact__titel contact__subject" >Media</H2>

<div class="contactbox">

    <div class="contact__wrapper">
        <a class="box contact__item" href="#">
            <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884017.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Ruud Schunselaar</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                r.schunselaars@fontys.nl
            </p>
        </div>
                         
        </a>
        <a class="box contact__item" href="#">
            <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872359.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Hans van Halteren</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                h.vanhalteren@fontys.nl
            </p>
        </div>
                         
        </a>
        <a class="box contact__item" href="#">
            <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I873914.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Mijke van der Zee</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                m.vanderzee@fontys.nl
            </p>
        </div>
                         
        </a>
        <a class="box contact__item" href="#">

            <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872451.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Marco van der Lee</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                m.vanderlee@fontys.nl
            </p>
        </div>
                         
        </a>
        
        
    </div>
   
    <H2 class="contact__titel contact__subject" >Infra</H2>

<div class="contact__wrapper">
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884601.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Ruud Schunselaar</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            r.schunselaars@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I883296.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Hans van Halteren</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            h.vanhalteren@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884182.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Mijke van der Zee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderzee@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">

        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I889724.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Marco van der Lee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderlee@fontys.nl
        </p>
    </div>
                     
    </a>
    
    
</div>

<H2 class="contact__titel contact__subject" >Technology</H2>

<div class="contact__wrapper">
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884017.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Ruud Schunselaar</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            r.schunselaars@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I885922.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Hans van Halteren</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            h.vanhalteren@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I871744.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Mijke van der Zee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderzee@fontys.nl
        </p>
   </div>
                     
    </a>
    <a class="box contact__item" href="#">

        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I874973.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Marco van der Lee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderlee@fontys.nl
        </p>
    </div>
                     
    </a>
    
    
</div>

<H2 class="contact__titel contact__subject" >Business</H2>

<div class="contact__wrapper">
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884017.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Ruud Schunselaar</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            r.schunselaars@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872359.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Hans van Halteren</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            h.vanhalteren@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I873914.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Mijke van der Zee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderzee@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">

        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872451.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Marco van der Lee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderlee@fontys.nl
        </p>
    </div>
                     
    </a>
    
    
</div>

<H2 class="contact__titel contact__subject" >Software</H2>

<div class="contact__wrapper">
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884017.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Ruud Schunselaar</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                r.schunselaars@fontys.nl
            </p>
        </div>    
    </a>



    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872359.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Hans van Halteren</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            h.vanhalteren@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I873914.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Mijke van der Zee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderzee@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">

    <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872451.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Marco van der Lee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderlee@fontys.nl
        </p>
    </div>          
    </a>
    
    
</div>
