<div class="search-bar box">
    <img src="./img/icons/search.svg" />
    <input class="search-icon " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" spellcheck="false" data-ms-editor="true">
</div>
<br>
<hr>
<H2 class="contact__titel contact__subject" >Media</H2>

<div class="contactbox">

    <div class="contact__wrapper">
        <a class="box contact__item" href="#">
            <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884017.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Ruud Schunselaar</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                r.schunselaars@fontys.nl
            </p>
        </div>
                         
        </a>
        <a class="box contact__item" href="#">
            <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872359.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Hans van Halteren</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                h.vanhalteren@fontys.nl
            </p>
        </div>
                         
        </a>
        <a class="box contact__item" href="#">
            <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I873914.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Mijke van der Zee</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                m.vanderzee@fontys.nl
            </p>
        </div>
                         
        </a>
        <a class="box contact__item" href="#">

            <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872451.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Marco van der Lee</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                m.vanderlee@fontys.nl
            </p>
        </div>
                         
        </a>
        
        
    </div>
   
    <H2 class="contact__titel contact__subject" >Infra</H2>

<div class="contact__wrapper">
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884601.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Ruud Schunselaar</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            r.schunselaars@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I883296.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Hans van Halteren</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            h.vanhalteren@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884182.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Mijke van der Zee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderzee@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">

        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I889724.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Marco van der Lee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderlee@fontys.nl
        </p>
    </div>
                     
    </a>
    
    
</div>

<H2 class="contact__titel contact__subject" >Technology</H2>

<div class="contact__wrapper">
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884017.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Ruud Schunselaar</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            r.schunselaars@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I885922.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Hans van Halteren</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            h.vanhalteren@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I871744.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Mijke van der Zee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderzee@fontys.nl
        </p>
   </div>
                     
    </a>
    <a class="box contact__item" href="#">

        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I874973.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Marco van der Lee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderlee@fontys.nl
        </p>
    </div>
                     
    </a>
    
    
</div>

<H2 class="contact__titel contact__subject" >Business</H2>

<div class="contact__wrapper">
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884017.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Ruud Schunselaar</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            r.schunselaars@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872359.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Hans van Halteren</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            h.vanhalteren@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I873914.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Mijke van der Zee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderzee@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">

        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872451.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Marco van der Lee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderlee@fontys.nl
        </p>
    </div>
                     
    </a>
    
    
</div>

<H2 class="contact__titel contact__subject" >Software</H2>

<div class="contact__wrapper">
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I884017.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
        <div>
            <h3>Ruud Schunselaar</h3> 
            <p class="contact__linkcolor">
                Tel: +31 6 53503476
            </p>
            <p class="contact__linkcolor">
                r.schunselaars@fontys.nl
            </p>
        </div>    
    </a>



    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872359.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Hans van Halteren</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            h.vanhalteren@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">
        <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I873914.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Mijke van der Zee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderzee@fontys.nl
        </p>
    </div>
                     
    </a>
    <a class="box contact__item" href="#">

    <img class="contact__photo" src="https://apps.fhict.nl/userphotos/public/I872451.jpg?width=250&height=250&mode=crop&anchor=top" alt="">
    <div>
        <h3>Marco van der Lee</h3> 
        <p class="contact__linkcolor">
            Tel: +31 6 53503476
        </p>
        <p class="contact__linkcolor">
            m.vanderlee@fontys.nl
        </p>
    </div>          
    </a>
    
    
</div>
