<div class="sub-navigation">
    {% for index in 1..6 %}
        <a class="box sub-navigation__item {% if index == 1 %}sub-navigation__item--active{% endif %}" href="#">
            <span class="highlight">Media</span>
        </a>
    {% endfor %}
</div>

<div class="grid grid--12">
    <div class="messagebox">
        <h2 class="h2">Berichten-box</h2>

        <div class="messagebox__scroll-wrapper">
            {% for index in 1..6 %}
                <a class="messagebox__item">
                    <h4 class="h4">Nolan is een coole kikker</h4>
                    <object><a class="highlight" href="#">Fontys HBO-ICT</a></object>
                    <span class="messagebox__date">10 september 2021</span>
                </a>

                <hr class="messagebox__divider">
            {% endfor %}
        </div>

        <a href="#" class="messagebox__show-more highlight">Eerdere aankondigingen weergeven</a>
        <a href="#" class="btn">Toelichting van leeruitkomsten</a>
    </div>

    <div class="modules">
        <h2 class="h2">Modules</h2>

        <div class="modules__scroll-box">
            {% for index in 1..3 %}
                <div class="modules__module">
                    <div class="modules__category">
                        <span>Oriëntatie Toolbox</span>
                    </div>

                    <div class="modules__items">
                        {% for index in 1..3 %}
                            <a class="modules__item" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M4 22v-20h16v11.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-14.386h-20v24h10.189c3.163 0 9.811-7.223 9.811-9.614zm-5-1.386h-10v-1h10v1zm0-4h-10v1h10v-1zm0-3h-10v1h10v-1z" />
                                </svg>
                                <span>Tips online en offline studeren</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="feedpulse">
        <h2 class="h2">Feedpulse</h2>

        <div class="feedpulse__feedback">
            <div class="feedpulse__account">
                <img class="feedpulse__account-photo" src="./img/profile-picture.jpg" alt="Profiel foto">
            </div>

            <div class="feedpulse__stats">
                <canvas id="feedpulse__canvas"></canvas>
            </div>
        </div>

        <div class="box">
            <form action="#" method="post">
                <div class="feedpulse__actions">
                    <input type="submit" class="btn" value="Versturen">
                    <a class="btn btn--grey" href="#">Historie</a>
                </div>

                <textarea class="feedpulse__textarea" placeholder="Voer hier je gekregen feedback in..."></textarea>
            </form>
        </div>
    </div>
</div>