<div class="sub-navigation">
    <a class="box sub-navigation__item sub-navigation__item--active" href="#">
        <span class="highlight">Home</span>
    </a>

    <a class="box sub-navigation__item" href="#">
        <span class="highlight">Mail</span>
    </a>

    <a class="box sub-navigation__item" href="#">
        <span class="highlight">Onedrive</span>
    </a>
</div>

<div class="grid grid--12 grid--1-row">
    <div class="links__category">
        <h2 class="h2">Direct naar:</h2>

        <div class="box box--outer">
            <a class="highlight" href="">Microsoft Azure (Software)</a>
            <a class="highlight" href="">Informatiesite voor nieuwe studenten FHICT</a>
            <a class="highlight" href="">Bereikbaarheidsgids</a>
            <a class="highlight" href="">Portal Fontys ICT</a>
            <a class="highlight" href="">Webmail</a>
            <a class="highlight" href="">FHICT op Fontys.nl</a>
            <a class="highlight" href="">Routes & Locaties</a>
            <a class="highlight" href="">Dienst P&O</a>
            <a class="highlight" href="">Minor aanbod</a>
            <a class="highlight" href="">Progress</a>
            <a class="highlight" href="">Mediatheek</a>
            <a class="highlight" href="">Handleidingen Dienst IT</a>
        </div>
    </div>

    <div class="links__category">
        <h2 class="h2">Handige links:</h2>

        <div class="box box--outer">
            <a class="highlight" href="">Microsoft Azure (Software)</a>
            <a class="highlight" href="">Informatiesite voor nieuwe studenten FHICT</a>
            <a class="highlight" href="">Bereikbaarheidsgids</a>
            <a class="highlight" href="">Portal Fontys ICT</a>
            <a class="highlight" href="">Webmail</a>
            <a class="highlight" href="">FHICT op Fontys.nl</a>
            <a class="highlight" href="">Routes & Locaties</a>
            <a class="highlight" href="">Dienst P&O</a>
            <a class="highlight" href="">Minor aanbod</a>
            <a class="highlight" href="">Progress</a>
            <a class="highlight" href="">Mediatheek</a>
            <a class="highlight" href="">Handleidingen Dienst IT</a>
        </div>
    </div>

    <div class="links__category">
        <h2 class="h2">Mijn gegevens wijzigen:</h2>

        <div class="box box--outer">
            <a class="highlight" href="">Bereikbaarheidsgids</a>
            <a class="highlight" href="">Fontyskaart</a>
            <a class="highlight" href="">Mijn persoonsgegevens wijzigen</a>
            <a class="highlight" href="">Wijzig e-mailadres</a>
            <a class="highlight" href="">Wijzig wachtwoord</a>
        </div>
    </div>
</div>