<div class="sub-navigation">
    <a class="box sub-navigation__item sub-navigation__item--active" href="#">
        <span class="highlight">Home</span>
    </a>

    <a class="box sub-navigation__item" href="https://www.microsoft.com/en-gb/microsoft-365/outlook/email-and-calendar-software-microsoft-outlook" target="_blank">
        <span class="highlight">Mail</span>
    </a>

    <a class="box sub-navigation__item" href="https://www.microsoft.com/en-gb/microsoft-365/onedrive/online-cloud-storage" target="_blank">
        <span class="highlight">Onedrive</span>
    </a>
</div>

<div class="grid grid--12 grid--1-row">
    <div class="links__category">
        <h2 class="h2">Direct naar:</h2>

        <div class="box box--outer">
            <a class="highlight" href="https://azure.microsoft.com/nl-nl/account/"target="_blank">Microsoft Azure (Software)</a>
            <a class="highlight" href="">Informatiesite voor nieuwe studenten FHICT</a>
            <a class="highlight" href="">Bereikbaarheidsgids</a>
            <a class="highlight" href="">Portal Fontys ICT</a>
            <a class="highlight" href="">Webmail</a>
            <a class="highlight" href="">FHICT op Fontys.nl</a>
            <a class="highlight" href="">Routes & Locaties</a>
            <a class="highlight" href="">Dienst P&O</a>
            <a class="highlight" href="">Minor aanbod</a>
            <a class="highlight" href="">Progress</a>
            <a class="highlight" href="">Mediatheek</a>
            <a class="highlight" href="">Handleidingen Dienst IT</a>
        </div>
    </div>

    <div class="links__category">
        <h2 class="h2">Handige links:</h2>

        <div class="box box--outer">
            <a class="highlight" href="https://azure.microsoft.com/nl-nl/account/" target="_blank">Microsoft Azure (Software)</a>
            <a class="highlight" href="">Informatiesite voor nieuwe studenten FHICT</a>
            <a class="highlight" href="">Bereikbaarheidsgids</a>
            <a class="highlight" href="">Portal Fontys ICT</a>
            <a class="highlight" href="">Webmail</a>
            <a class="highlight" href="">FHICT op Fontys.nl</a>
            <a class="highlight" href="">Routes & Locaties</a>
            <a class="highlight" href="">Dienst P&O</a>
            <a class="highlight" href="">Minor aanbod</a>
            <a class="highlight" href="">Progress</a>
            <a class="highlight" href="">Mediatheek</a>
            <a class="highlight" href="">Handleidingen Dienst IT</a>
        </div>
    </div>

    <div class="links__category">
        <h2 class="h2">Mijn gegevens wijzigen:</h2>

        <div class="box box--outer">
            <a class="highlight" href="https://intern.fontys.nl/bereikbaarheidsgids/" target="_blank">Bereikbaarheidsgids</a>
            <a class="highlight" href="https://www.fontyskaart.nl/" target="_blank">Fontyskaart</a>
            <a class="highlight" href="https://connect.fontys.nl/instituten/FHICT" target="_blank">Mijn persoonsgegevens wijzigen</a>
            <a class="highlight" href="https://fontys.nl/Professionals-en-werkgevers/Wachtwoord-vergeten.htm" target="_blank">Wijzig e-mailadres</a>
            <a class="highlight" href="https://fontys.nl/Professionals-en-werkgevers/Wachtwoord-vergeten.htm" target="_blank">Wijzig wachtwoord</a>
        </div>
    </div>
</div>