<div class="grid">
    <div class= "print__command">
    <div class="print__myname">Vermeulen.N</div> 
    <h2 class_"h1">Huidige saldo:</h2>
    <a class="print__amount" href="#" style="display: table-cell"> 
        <span> € 4,75</span></a>
        <br>
        <h2 class="h1">Uploaden</h2>

        

        <p class="print__paragraph">Upload de bestanden die je wilt printen en haal je prints op bij een willekeurige Canon printer.</p>

        <div class="print__upload">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/></svg>
            <div>
                <h2 class="h2">Upload hier je bestanden</h2>
                <p class="print__paragraph">
                    Toegestaande bestandsformaten: <br/>
                    doc(x), .gif, .jp(e)g, .pdf, .png, .pps, .ppt(x), .rtf, .txt, .xls(x)
                </p>
            </div>
        </div>

        <a class="btn" href="#">Printopdracht uitvoeren</a>
    </div>

    <div class="print__webshop">
        <h2 class="h1">Webshop opties</h2>

        <div class="print__webshop-options">
            {% for index in 1..4 %}
                <div class="print__webshop-option">
                    <div class="print__wrapper">
                        <h3 class="h2">Standaard printen (tot A3)</h3>
                        <p class="print__paragraph">
                            Stuur grote printopdrachten of opdrachten die bijvoorbeeld geplastificeerd of gevouwen moeten worden online naar de copyshop.
                        </p>
                    </div>

                    <div class="print__wrapper">
                        <a class="btn" href="#">Ga naar standaard printen</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="print__transactions">
        <h2 class="h1">Tegoed opties</h2>

        <div class="print__transactions__options">
            <h3 class="h2">Opwaarderen</h3>
        
            <div class="print__transactions-option">
                <p>Kies een van de volgende bedragen:</p>

                <div class="print__amounts">
                    <div class="print__amount">
                        <span>€ 5</span>
                    </div>

                    <div class="print__amount">
                        <span>€ 10</span>
                    </div>

                    <div class="print__amount">
                        <span>€ 15</span>
                    </div>
                </div>
            </div>
            <br>
            <div style= "display: flex">
                <svg style="margin-right: 1rem; fill: #663366" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.218 19l-1.782-1.75 5.25-5.25-5.25-5.25 1.782-1.75 6.968 7-6.968 7z"/></svg>
                <h3 class="h2">Vouchter inwisselen</h3>
            </div>
            <div style= "display: flex">
                <svg style="margin-right: 1rem; fill: #663366" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.218 19l-1.782-1.75 5.25-5.25-5.25-5.25 1.782-1.75 6.968 7-6.968 7z"/></svg>
                <h3 class="h2">Transacties</h3>
            </div>
            <div style= "display: flex">
                <svg style="margin-right: 1rem; fill: #663366" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.218 19l-1.782-1.75 5.25-5.25-5.25-5.25 1.782-1.75 6.968 7-6.968 7z"/></svg>
                <h3 class="h2">Terugbetalen</h3>
            </div>
        </div>
    </div>
</div>