<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fontys Combined Portal </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Link stylesheet -->
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {% include "sections/header.twig" %}

        <main class="page-dashboard">
            <div class="container">
                <h1 class="h1">{{ page|capitalize }}</h1>

                {# Include specfic requested page#}
                {% if page == "" %}
                    {% include "pages/dashboard.twig" %}
                {% else %}
                    {% include "pages/" ~ page ~ ".twig" %}
                {% endif %}
            </div>
        </main>

        
    </body>
</html>