<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fontys Combined Portal </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#663366">
        <meta name="msapplication-TileColor" content="#663366">
        <meta name="theme-color" content="#ffffff">
        
        <!-- Link stylesheet -->
        <link rel="stylesheet" href="./css/styles.css">

        {# Rewrite root page to the dashboard #}
        {% if page == "" %}
            {% set page = "dashboard" %}
        {% endif %}
    </head>
    <body>
        {# Include loading screen #}
        {% include "sections/loader.twig" %}

        {# Include header #}
        {% include "sections/header.twig" %}

        <main class="page-{{ page }}">
            <div class="container">
                {# Print page title #}
                <h1 class="h1">{{ page|capitalize }}</h1>

                {# Include specfic requested page #}
                {% include "pages/" ~ page ~ ".twig" %}
            </div>
        </main>

        <!-- Include javascript files -->
        <script src="./js/main.js">
            const page = "{{ page }}";

            if (page == "lesmateriaal") {
                var Chart = require('chart.js');
                const dates = ["20 september", "21 september", "22 september"];
                const feedback = [0, 1, 1];

                generateChart(dates, feedback);
                function generateChart(chartDate, chartFeedback) {
                    var chart = new Chart(document.getElementById('feedpulse__canvas').getContext('2d'), {
                        type: 'line',
                        data: {
                            labels: chartDate,
                                datasets: [{
                                    type: "line",
                                        label: "Feedpulse feedback",
                                        borderColor: '#fd4c4c',
                                        data: chartFeedback,
                                }]
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Datums'
                                    },
                                }],
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        stepSize: 1,
                                        suggestedMin: -1,
                                        suggestedMax: 1
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Feedback'
                                    }
                                }]
                            },
                            elements: { point: { radius: 5 } }
                        }
                    });
                }
            }
        </script>
    </body>
</html>