.contact
    &__item
        width: 25%
        display: flex

        &:not(:last-child)
            margin-right: 30px

    &__wrapper
        display: flex
        justify-content: space-between
        align-items: self-start

    &__photo
        width: 90px
        height: 90px
        border-radius: 50%
        margin-right: 3rem

    &__linkcolor
        color: $color-primary
  
    &__linespace
        margin-top: 3rem
        margin-bottom: 3rem

    &__titel
        margin-top: 3rem
        margin-bottom: 3rem

    &__subject
        font-weight: bold
        font-size: 2.5rem 