<header>
    <div class="header">
        <div class="header__inner">
            <a href="./" class="header__logo">
                <img src="./img/logo.png" alt="Fontys logo">
            </a>

            <a class="header__hamburger-button" href="#">
                <div class="header__hamburger-layer"></div>
            </a>
        </div>
    </div>

    {% include "sections/navigation.twig" %}
</header>