<header>
    <div class="header">
        <div class="header__inner">
            <img class="header__logo" src="./img/logo.png" alt="Fontys logo">

            <a class="header__hamburger-button" href="#">
                <div class="header__hamburger-layer"></div>
            </a>
        </div>
    </div>

    {% include "sections/navigation.twig" %}
</header>