<div class="loader">
    <a class="loader__logo">
        <img src="./img/logo.png" alt="Fontys logo">
    </a>

    <div class="loader__progress">
        <div class="loader__progress-inner"></div>
    </div>
</div>