.box
    width: 100%
    padding: 2rem
    display: block
    border-radius: .3rem
    background-color: $color-grey-light

    &--outer, &--solid
        h2, .h2
            font-weight: bold

    &--outer
        background-color: transparent
        border: solid .3rem $color-primary

        h2, .h2
            text-align: center
            color: $color-primary

            @media screen and (min-width: $laptop)
                text-align: left
                margin-bottom: 3.5rem

        @media screen and (min-width: $laptop)
            padding: 3rem

    &--solid
        color: $color-white
        background-color: $color-primary

    @media screen and (min-width: $laptop)
        padding: 2.5rem