<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fontys Combined Portal </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Link stylesheet -->
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <header>
            <nav class="navigation">
                <img class="navigation__logo" src="./img/logo.png" alt="Fontys logo">

                <ul class="navigation__list">
                    <li class="navigation__list-item">
                        <a class="navigation__link" href="./dashboard.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M7 16h13v1h-13v-1zm13-3h-13v1h13v-1zm0-6h-5v1h5v-1zm0 3h-5v1h5v-1zm-17-8v17.199c0 .771-1 .771-1 0v-15.199h-2v15.98c0 1.115.905 2.02 2.02 2.02h19.958c1.117 0 2.022-.904 2.022-2.02v-17.98h-21zm19 17h-17v-15h17v15zm-9-12h-6v4h6v-4z"/>
                            </svg>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>

                <a class="navigation__close" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
                    </svg>
                </a>
            </nav>

            <div class="header">
                <div class="header__inner">
                    <img class="header__logo" src="./img/logo.png" alt="Fontys logo">

                    <a class="header__hamburger-button" href="#">
                        <div class="header__hamburger-layer"></div>
                    </a>
                </div>
            </div>
        </header>

        <main class="page-dashboard">
            <div class="container">
                <h1 class="h1">Dashboard</h1>

                <div class="grid">
                    <div class="deadlines">
                        <h2 class="h2">Opkomende deadlines</h2>
                        
                        <div class="deadlines__wrapper">
                            <a class="box deadlines__item" href="#">
                                <h3 class="h3 deadlines__title">Presentatie oriëntatie-pitch</h3>
                                <object><a class="highlight">Media</a></object>
                                <span class="deadlines__submit-time">Tot <span class="highlight color-red">22:00</span> op <span class="highlight color-red">13 september</span></span>
                            </a>

                            <a class="box deadlines__item" href="#">
                                <h3 class="h3 deadlines__title">Presentatie oriëntatie-pitch</h3>
                                <object><a class="highlight">Media</a></object>
                                <span class="deadlines__submit-time">Tot <span class="highlight color-red">22:00</span> op <span class="highlight color-red">13 september</span></span>
                            </a>

                            <a class="box deadlines__item" href="#">
                                <h3 class="h3 deadlines__title">Presentatie oriëntatie-pitch</h3>
                                <object><a class="highlight">Media</a></object>
                                <span class="deadlines__submit-time">Tot <span class="highlight color-red">22:00</span> op <span class="highlight color-red">13 september</span></span>
                            </a>

                            <a class="box deadlines__item" href="#">
                                <h3 class="h3 deadlines__title">Presentatie oriëntatie-pitch</h3>
                                <object><a class="highlight">Media</a></object>
                                <span class="deadlines__submit-time">Tot <span class="highlight color-red">22:00</span> op <span class="highlight color-red">13 september</span></span>
                            </a>
                        </div>
                    </div>

                    <div class="time-table box box--outer">
                        <h2 class="h2">Eerstvolgende lessen</h2>

                        <div class="time-table__wrapper">
                            <div class="time-table__item">
                                <h3>Maandag</h3>
                                <span class="time-table__date">13 september 2021</span>

                                <div class="time-table__info">
                                    <div class="time-table__attendence"></div>
                                    <div class="time-table__time">
                                        <span>09:00</span>
                                        <span class="time-table__small">12:00</span>
                                    </div>
                                    <div class="time-table__place">
                                        <a class="highlight">Media</a>
                                        <div class="time-table__place-wrapper">
                                            <svg class="time-table__place-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                            </svg>
                                            <span>R10_OIL_0.10</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="time-table__info">
                                    <div class="time-table__attendence"></div>
                                    <div class="time-table__time">
                                        <span>13:00</span>
                                        <span class="time-table__small">16:00</span>
                                    </div>
                                    <div class="time-table__place">
                                        <a class="highlight">Media</a>
                                        <div class="time-table__place-wrapper">
                                            <svg class="time-table__place-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                            </svg>
                                            <span>R10_OIL_0.10</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="time-table__item">
                                <h3>Dinsdag</h3>
                                <span class="time-table__date">14 september 2021</span>

                                <div class="time-table__info">
                                    <div class="time-table__attendence"></div>
                                    <div class="time-table__time">
                                        <span>09:00</span>
                                        <span class="time-table__small">12:00</span>
                                    </div>
                                    <div class="time-table__place">
                                        <a class="highlight">Technology</a>
                                        <div class="time-table__place-wrapper">
                                            <svg class="time-table__place-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                            </svg>
                                            <span>R10_OIL_0.10</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="time-table__info">
                                    <div class="time-table__attendence"></div>
                                    <div class="time-table__time">
                                        <span>13:00</span>
                                        <span class="time-table__small">16:00</span>
                                    </div>
                                    <div class="time-table__place">
                                        <a class="highlight">Technology</a>
                                        <div class="time-table__place-wrapper">
                                            <svg class="time-table__place-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                            </svg>
                                            <span>R10_OIL_0.10</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="time-table__item">
                                <h3>Woensdag</h3>
                                <span class="time-table__date">15 september 2021</span>

                                <div class="time-table__info">
                                    <div class="time-table__attendence"></div>
                                    <div class="time-table__time">
                                        <span>09:00</span>
                                        <span class="time-table__small">12:00</span>
                                    </div>
                                    <div class="time-table__place">
                                        <a class="highlight">Busines</a>
                                        <div class="time-table__place-wrapper">
                                            <svg class="time-table__place-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                            </svg>
                                            <span>R10_OIL_0.10</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="time-table__info">
                                    <div class="time-table__attendence"></div>
                                    <div class="time-table__time">
                                        <span>13:00</span>
                                        <span class="time-table__small">16:00</span>
                                    </div>
                                    <div class="time-table__place">
                                        <a class="highlight">Busines</a>
                                        <div class="time-table__place-wrapper">
                                            <svg class="time-table__place-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                            </svg>
                                            <span>R10_OIL_0.10</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="time-table__item">
                                <h3>Donderdag</h3>
                                <span class="time-table__date">16 september 2021</span>

                                <div class="time-table__info">
                                    <div class="time-table__attendence"></div>
                                    <div class="time-table__time">
                                        <span>09:00</span>
                                        <span class="time-table__small">12:00</span>
                                    </div>
                                    <div class="time-table__place">
                                        <a class="highlight">Infrastructuur</a>
                                        <div class="time-table__place-wrapper">
                                            <svg class="time-table__place-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                            </svg>
                                            <span>R10_OIL_0.10</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="time-table__info">
                                    <div class="time-table__attendence"></div>
                                    <div class="time-table__time">
                                        <span>13:00</span>
                                        <span class="time-table__small">16:00</span>
                                    </div>
                                    <div class="time-table__place">
                                        <a class="highlight">Infrastructuur</a>
                                        <div class="time-table__place-wrapper">
                                            <svg class="time-table__place-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                            </svg>
                                            <span>R10_OIL_0.10</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="absence-links-wrapper">
                        <div class="absence box box--solid">
                            <h2 class="h2">Presentie overzicht</h2>

                            <div class="absence__wrapper">
                                <div class="absence__stats">
                                    <span class="color-green"><span style="display: inline; font-weight: bold;">75%</span> &nbsp; - &nbsp; aanwezigheid</span>
                                    <span><span style="display: inline; font-weight: bold;">25%</span> &nbsp; - &nbsp; afwezigheid</span>
                                </div>
    
                                <div class="absence__graph">
                                    <div style="margin-top: 100%;"></div>
                                    <div class="absence__graph-circle">
                                        <div class="absence__graph-part"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="links box">
                            <h2 class="h2">Fontys links</h2>

                            <a class="links__link highlight" href="#">Office 365</a>
                            <a class="links__link highlight" href="#">Beschikbare software</a>
                            <a class="links__link highlight" href="#">(Nieuw) Pasje aanvragen</a>
                        </div>
                    </div>

                    <div class="messagebox">
                        <h2 class="h2">Berichten-box</h2>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>